statemachine/athena-result-repoter.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Athena GetQueryExecution",
    "States": {
      "Athena GetQueryExecution": {
        "Type": "Task",
        "Resource": "arn:aws:states:::athena:getQueryExecution",
        "Parameters": {
          "QueryExecutionId.$": "$.detail.queryExecutionId"
        },
        "Next": "GetObject"
      },
      "GetObject": {
        "Type": "Task",
        "Parameters": {
          "Bucket": "${BucketName}",
          "Key.$": "States.Format('{}{}.csv','${OutputPrefix}', $.QueryExecution.QueryExecutionId)"
        },
        "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
        "Next": "SNS Publish"
      },
      "SNS Publish": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "${SnsTopicArn}",
          "Message.$": "$"
        },
        "End": true
      }
    }
  }