statemachine/transfer-executor.json
{
  "Comment": "Execute SFTP",
  "StartAt": "InitFilePath",
  "States": {
    "InitFilePath": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "RegistStatus",
        "States": {
          "RegistStatus": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "${StatusTableName}",
              "Item": {
                "TransferStatus": {
                  "S": "IN_PROGRESS"
                },
                "FilePath": {
                  "S.$": "$"
                }
              }
            },
            "End": true
          }
        }
      },
      "Next": "ConvertInput",
      "ItemsPath": "$.FilePath",
      "ResultPath": null
    },
    "ConvertInput": {
      "Type": "Pass",
      "Next": "NeedSendQueue?",
      "Parameters": {
        "ExecPath.$": "$.FilePath[:${MaxParallelLength}]",
        "StandbyPath.$": "$.FilePath[${MaxParallelLength}:]",
        "TotalCount.$": "States.ArrayLength($.FilePath)"
      }
    },
    "NeedSendQueue?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TotalCount",
          "NumericGreaterThan": ${MaxParallelLength},
          "Next": "SendToStandbyQueue"
        }
      ],
      "Default": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "Next": "MainFlow"
    },
    "SendToStandbyQueue": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SQS SendMessage",
        "States": {
          "SQS SendMessage": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Parameters": {
              "QueueUrl": "${QueueUrl}",
              "MessageBody.$": "$"
            },
            "End": true
          }
        }
      },
      "ItemsPath": "$.StandbyPath",
      "Next": "MainFlow",
      "ResultPath": null
    },
    "MainFlow": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "StartFileTransfer",
        "States": {
          "StartFileTransfer": {
            "Type": "Task",
            "End": true,
            "Parameters": {
              "ConnectorId": "${ConnectorId}",
              "RetrieveFilePaths.$": "States.Array($)",
              "LocalDirectoryPath": "/${BucketName}/${S3Path}"
            },
            "Resource": "arn:aws:states:::aws-sdk:transfer:startFileTransfer"
          }
        }
      },
      "End": true,
      "ItemsPath": "$.ExecPath"
    }
  }
}